@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

main {
  padding: 1rem ;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

h1 {
  line-height : 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 ;
}
h2 {
  line-height: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem 0 ;
}
h3 {
  line-height: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 2rem 0 ;
}

p {
  line-height : 2rem;
  font-size: 1.10rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 70%;
    padding: 1rem;
}