.header {
    padding: 1rem;
    background-color: #282c34;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: 70%;
    padding: 1rem;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}
.button {
    padding: 1rem;
    margin : auto 1rem;
}
.button:hover {
    background-color: #1e90ff;
}
@media screen and (max-width: 640px) {
    .header {
        min-height: 40vh;
    }
    .buttonContainer {
        justify-content: center;
    }
}
